body {
  margin: 0;
  padding: 0;
}
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  font-size: 0.9rem;
  margin-left: 30px;
  list-style: none;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}
#header li img.icon {
  width: 20px;
}
nav a {
  text-decoration: none;
}
#header .instagram-icon {
  width: 30px;
}
#about h2 {
  text-align: center;
}
#about ul {
  list-style: none;
  margin-left: 160px;
}
#about p {
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
}
#works h2 {
  text-align: center;
}
#news h2 {
  text-align: center;
}
#news li {
  list-style: none;
  text-align: center
}
#contact h2 {
  text-align: center;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .site-title {
    margin-top: 20px;
  }
  .sec-title {
    margin-bottom: 40px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }
  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }
  #header li:first-child {
    margin-left: 0;
  }
